
.ad{
    display: flex;
    flex-direction: column;
}

.bannerImage{
    width: 100%;
    height: 136px;
    object-fit: cover;
}

@media(min-width: 500px){
    .bannerImage{
        height: 230px;
    }
}

@media(min-width: 837px){

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .bannerImage{
        width: 60%;
    }

    .longAd{
        width: 60%;
    }
}