.card{
    max-width: calc(315px - 8px);
}

.innerContainer{
    padding: 30px 42px;

    display: flex;
    flex-direction: column;
}

.image{
    width: 231px;
    height: 154px;
}

.title{
    margin-top: 10px;
    width: 231px;
    
    text-align: left;
}

.description{
    margin-top: 5px;
    width: 231px;

    text-align: left;
}

.action{
    margin-top: 20px;
    padding: 10px 52px;
    align-self: center;
}