
:root{
    --black: #242424;
    --white: #eeeeee;
}

.card{
    max-width: calc(315px - 8px);
}

.blackCard{
    background-color: var(--black);
    border: 4px solid var(--black);
}

.whiteCard{
    background-color: var(--white);
    border: 4px solid var(--black);
}

.innerContainer{
    padding: 30px 42px;

    display: flex;
    flex-direction: column;
}

.image{
    width: 231px;
    height: 154px;
}

.title{
    margin-top: 10px;
    width: 231px;
    
    text-align: left;
}

.description{
    margin-top: 5px;
    width: 231px;

    text-align: left;
}

.action{
    margin-top: 20px;
    padding: 10px 52px;
    align-self: center;
}