
:root{
    --font: Lato;
    --black: #242424;
    --white: #EEEEEE;
}

.blackButton{
    font-family: var(--font);
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
}

.whiteButton{
    font-family: var(--font);
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
}