
:root{
    --website-font: Lato;

    --black: #242424;
    --white: #EEEEEE;

}

/*iPhone 6, 7, 8*/

.blackHeader{
    font-family: var(--website-font);
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--black);
}

.whiteHeader{
    font-family: var(--website-font);
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--white);
}

.blackSubtitle{
    font-family: var(--website-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
}

.whiteSubtitle{
    font-family: var(--website-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
}

.blackParagraph{
    font-family: var(--website-font);
    font-size: .8rem;
    font-weight: 400;
    color: var(--black);
}

.whiteParagraph{
    font-family: var(--website-font);
    font-size: .8rem;
    font-weight: 400;
    color: var(--white);
}

