
.card{
    max-width: calc(315px - 8px);
}

.innerContainer{
    padding: 30px 35px 15px 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 15px;
    font-size: .875rem;
    text-align: left;
}

.description{
    margin-top: 5px;
    text-align: left;
}

.time{
    margin-top: 10px;
    text-align: center;
}

@media(min-width: 1024px){


    .card{
        max-width: 100%;
        width: calc((315px - 8px) + (315px - 8px) + 85px);
        min-height: 100px;
    }

    .innerContainer{
        flex-direction: row;
        margin-top: 18px;
    }

    .icon{
        margin-top: -10px;
    }

    .infoContainer{
        margin-top: -10px;
        margin-left: 30px;
    }

    .title{
        margin: 0;
    }

    .description{
        margin: 0;
    }

    .time{
        margin-top: -10px;
        text-align: right;
        flex: 10;
    }

}