.container{

    margin-top: 20px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.longContainer{
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.card{
    max-width: calc(315px - 8px);

    margin-right: 100px;
    display: flex;
    flex-direction: column;

}

.header{
    margin-top: 20px;
    text-align: center;
}

.innerContainer{
    padding: 30px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;

}

.paragraph{
    margin-top: 10px;
    margin-bottom: 2px;
}

.button{
    margin-top: 15px;
}

.long{
    margin-top: 20px;
    max-width: 890px;
}