.container{

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    min-height: calc(100vh - 300px);
}

.text{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 400px;
    text-align: center;
}