
@import '../../../Constants.module.css';

.black{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
}

.black:hover{
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}

.white{
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--white);
}

.white:hover{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
}

.blue{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--white);
}

.blue:hover{
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

.pink{
    background-color: var(--pink);
    color: var(--black);
}

.pink:hover{
    background-color: var(--black);
    color: var(--pink);
    border: 2px solid var(--pink);
    border: 2px solid var(--black);
}

.button{
    font-family: var(--website-font);
    text-decoration: none;
    transition: 0.3s;
}