
@import url(//db.onlinewebfonts.com/c/cb165eccbe0d0c449d4e13707d12a19e?family=LHF+Boston+Truckstyle);

:root{

    --website-font: Lato;
    --black: #242424;
    --white: #eeeeee;
    --pink: #E15A97;
    --light-blue: #0197F6;
    --blue: #002868;
    --yellow: #FFB100; 
    --red: #D64550;

    --logo-red: #942824;
    --article-font: "LHF Boston Truckstyle";
}