
:root{

    --website-font: Lato;
    --black: #242424;
    --white: #eeeeee;
    --pink: #E15A97;
    --light-blue: #0197F6;
    --blue: #002868;
    --yellow: #FFB100; 
    --red: #D64550;

    --logo-red: #942824;
}