
.card{
   max-width: calc(315px - 8px);
}

.innerContainer{
    padding: 120px 35px 100px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subtitle{
    margin-top: 15px;
}

.action{
    width: 240px;
    margin-top: 40px;
    padding: 20px 0;

    align-self: center;
}